*.DS_Store
.cache/
/app.tar
/app/
site/
*.bak
__pycache__
.venv
.idea
.kiro
*.egg-info

**/node_modules
**/dist
**/.astro
uv.lock

temp_python_sdk
sdk-typescript
package-lock.json

# Generated documentation
docs/api-reference/
__*__/


.artifact/
