name: Build GitHub Pages
# Until we have a branching strategy defined for bug fixes or features that are not 
# yet published to pypi, we've decided to manually publish docs when publishing to pypi
on:  workflow_dispatch
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Set up Node.js
        uses: actions/setup-node@v6

      - name: Clone typescript_sdk
        run:  git clone https://github.com/strands-agents/sdk-typescript.git/ ./sdk-typescript

      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: |
          pip install .
          npm install ./sdk-typescript
          npm install
      - run: |
          mike deploy --push --update-aliases 0.3.x latest
          mike set-default --push latest
