name: Trigger Preview Deployment

on:
  pull_request_target:
    branches: [main]
  merge_group: # Run tests in merge queue
    types: [checks_requested]

jobs:
  authorization-check:
    name: Check access
    permissions: read-all
    runs-on: ubuntu-latest
    outputs:
      approval-env: ${{ steps.auth.outputs.result }}
    steps:
      - name: Check Authorization
        id: auth
        uses: strands-agents/devtools/authorization-check@main
        with:
          skip-check: ${{ github.event_name == 'merge_group' }}
          username: ${{ github.event.pull_request.user.login || 'invalid' }}
          allowed-roles: 'triage,write,admin'

  trigger-docs-deploy:
    runs-on: ubuntu-latest
    needs: [authorization-check]
    environment: ${{ needs.authorization-check.outputs.approval-env }}
    
    steps:
      - name: Trigger documentation deployment
        env:
          # PAT token with 'repo' scope needed to trigger repository_dispatch events in other repositories
          GH_TOKEN: ${{ secrets.PREVIEWS_PAT_TOKEN }}
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository_owner }}/strandsagents.com/dispatches \
            -f event_type=deploy-docs \
            -F "client_payload[source_repo]=${{ github.event.pull_request.head.repo.full_name }}" \
            -F "client_payload[sha]=${{ github.event.pull_request.head.sha }}" \
            -F "client_payload[pr_number]=${{ github.event.pull_request.number }}"
          
          echo "Deployment triggered successfully"
